@page "/mods"

<MudText Typo="Typo.h1"> Mods </MudText>

<MudGrid Spacing="2" Justify="Justify.FlexStart">
    <MudItem>
        <a href="/nemesis"><MudImage Src="Logo.png" Elevation="25" Height="150" Width="300" /></a>
    </MudItem>
    <MudItem>
        <MudPaper Outlined="true" Height="150px" Width="300px"> coming soon... </MudPaper>
    </MudItem>
    <MudItem>
        <MudPaper Outlined="true" Height="150px" Width="300px"> coming soon... </MudPaper>
    </MudItem>
</MudGrid>
@code {

}
