@page "/mods"

<MudText Typo="Typo.h1"> Mods </MudText>

<MudGrid Spacing="2" Justify="Justify.FlexStart">
    <MudItem>
        <a href="/nemesis"><MudImage Src="drg.jpg" Elevation="25" Class="rounded-lg" Height="150" Width="300" /></a>
    </MudItem>
    <MudItem>
        <a href="/nemesis"><MudImage Src="dbd.png" Elevation="25" Class="rounded-lg" Height="150" Width="300" /></a>
    </MudItem>
    <MudItem>
        <a href="/nemesis"><MudImage Src="forhonor.png" Elevation="25" Class="rounded-lg" Height="150" Width="300" /></a>
    </MudItem>
</MudGrid>
@code {

}
