@page "/nemesis"


<MudText Typo="Typo.h1"> Nemesis </MudText>

<MudButton Variant="Variant.Outlined" Color="Color.Success"> Download Nemesis 1.4.2</MudButton>
<MudDivider DividerType="DividerType.Middle" Class="my-6" />
<MudText>Nemesis is an external cheat for Deep Rock Galactic (DRG).  DRG is a Unreal Engine 4 game that focuses on mining for resources with a team of other miners.  This cheat was the first one made by FNU and was created in C# using winforms.
    This cheat is still currently being updated and revised and can also be downloaded from the Unknown Cheat forums at this link: <a href="https://www.unknowncheats.me/forum/other-fps-games/603417-deep-rock-galactic-nemesis-name-unknown.html"><strong> Unknown Cheats page</strong></a>
</MudText>

<MudPaper Class="fullPageWidth" Style="position:relative;" Elevation="0">
    
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <MudText Typo="Typo.h4">Features</MudText>
    <MudChip Color="Color.Success">Infinite ammunition</MudChip>
    <MudChip Color="Color.Success">Full auto for all guns</MudChip>
    <MudChip Color="Color.Success">FOV changer</MudChip>
    <MudChip Color="Color.Success">Custom firerate</MudChip><br />
    <MudChip Color="Color.Success">Infinite jump</MudChip>
    <MudChip Color="Color.Success">Downed movement</MudChip>
    <MudChip Color="Color.Success">infinite flares</MudChip>
    <MudChip Color="Color.Success">No flare cooldown</MudChip><br />
    <MudChip Color="Color.Success">infinite grenades</MudChip>
    <MudChip Color="Color.Success">Teleport</MudChip>
    <MudChip Color="Color.Success">Throw strength changer</MudChip>
    <MudChip Color="Color.Success">Third person mode</MudChip><br />
    <MudChip Color="Color.Success">Speed</MudChip>
    <MudChip Color="Color.Success">Fly</MudChip>
    <MudChip Color="Color.Success">infinite deposit mode</MudChip><br />

    <MudChip Color="Color.Success">Character model size changer</MudChip>
    <MudChip Color="Color.Success">Unlimited perk points</MudChip>
    <MudChip Color="Color.Success">12 different in-game emotes</MudChip>
    <MudChip Color="Color.Success">Edit deposited resource amount</MudChip><br />
    <MudChip Color="Color.Success">+5 scrip</MudChip>
    <MudChip Color="Color.Success">No cash shopping</MudChip>
    <MudChip Color="Color.Success">God mode</MudChip>
    <MudChip Color="Color.Success">No Clip</MudChip><br />
    <MudChip Color="Color.Success">Class specific cheats</MudChip>
    <MudChip Color="Color.Success">+  Lifetime access to all future updates and features!</MudChip>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <MudText Typo="Typo.h4">Showcase</MudText>
    <MudImage Src="Images/page_1.PNG" Width="600" Height="350" Alt="Mony the dog" Elevation="25" Class="rounded-lg" />
    <MudImage Src="Images/page_2.PNG" Width="600" Height="350" Alt="Mony the dog" Elevation="25" Class="rounded-lg" /><br />
    <video controls="controls" width="600" height="400" style="position:absolute;">
        <source src="/showcase1.mp4" />
    </video>
    <video controls="controls" width="600" height="400" style="position:absolute; left: 50%;">
        <source src="/showcase2.mp4" />
    </video>
</MudPaper>

@code {
    
}
